.bg-light {
  background-color: #f8f9fa !important;
}

.cursor-pointer {
  cursor: pointer;
}

.sticky-top {
  position: sticky;
  top: 20px;
}

/* Improve edit button alignment */
.position-absolute {
  right: 10px;
}

/* Multi year plan selected style */
.bg-primary-subtle {
  background-color: rgba(13, 110, 253, 0.08);
}
